common --show_timestamps --enable_platform_specific_config --experimental_convenience_symlinks=ignore

build --cxxopt='-std=c++14'
build --action_env SENTRY_DSN_PATH= --action_env SENTRY_DSN_HOST=

build:buildkite --remote_cache=grpc://bazel-remote:9092 --experimental_remote_downloader=grpc://bazel-remote:9092 --experimental_remote_downloader_local_fallback=true
query:buildkite --remote_cache=grpc://bazel-remote:9092 --experimental_remote_downloader=grpc://bazel-remote:9092 --experimental_remote_downloader_local_fallback=true
fetch:buildkite --remote_cache=grpc://bazel-remote:9092 --experimental_remote_downloader=grpc://bazel-remote:9092 --experimental_remote_downloader_local_fallback=true
