common --show_timestamps --enable_platform_specific_config --experimental_convenience_symlinks=ignore
common --enable_bzlmod

build --cxxopt='-std=c++14'
build --action_env SENTRY_DSN_PATH= --action_env SENTRY_DSN_HOST=

build --macos_minimum_os=13
build --host_macos_minimum_os=13

build --macos_minimum_os=12.6
build --ios_simulator_version=18.6

test --build_tests_only
test --test_output=errors

test --ios_simulator_device="iPhone 16"
