# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Xcode
/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xcscmblueprint

# Dependencies
SwiftPackages

# CI Artifacts Location
Artifacts
vendor

# SwiftLint Remote Config Cache
.swiftlint/RemoteConfigCache

# Settings file
Config.xcconfig

# fastlane
fastlane/report.xml
fastlane/test_output/report.junit
/screenshots/*

# Bazel related paths
bazel-*
.build
